<div class="container">
  <div class="row">
    <div class="first_form">

        <h3>新規登録 <i class="fas fa-user-plus"></i></h3>
        <p>下記を入力後、登録ボタンを押してください▼</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          

          <table class="table table-borderless">
            <thead>

                    <div class="fields">
                      <%= f.label :名前 %><br>
                      <%= f.text_field :name, autofocus: true, class: "field" %>
                    </div>

                    <div class="fields">
                      <%= f.label :電話番号 %><br>
                      <%= f.phone_field :tell, autofocus: :true, class: "field" %>
                    </div>

                    <div class="fields">
                      <%= f.label :メールアドレス %><br>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
                    </div>

                    <div class="fields">
                      <i class="fas fa-key"></i><%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br>
                      <% end %>
                      <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
                    </div>

                    <div class="fields">
                      <i class="fas fa-key"></i><%= f.label :password_confirmation %><br>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
                    </div>

            </thead>
           </table>

          <div class="actions">

            <%= f.submit "登録する", class:"button" %>

          </div>

          <br><i class="far fa-hand-point-right"></i><%= link_to "登録済みの方はこちら", new_session_url(resource_name) %>

        <% end %><br>

    </div>
  </div>
</div>

