<div class="container">
  <div class="row">

    <%= render 'layouts/sidebar' %>

    <div class="col-10">

       <h3 class="title">猫カフェ投稿一覧<i class="fas fa-cat"></i></h3>
       <%= link_to "全#{CafePost.all.count}件" %>

       <div class="row">

         <% @cafe_posts.each do |cafe_post| %>

        <div class="col-3">

          <%= link_to customers_cafe_post_path(cafe_post.id) do %>
           <%= image_tag cafe_post.picture.to_s, size:"150x150" %>
          <!-- 商品画像 -->
           <div class="index_title">
           <p class="index_product_name">店名：<%= cafe_post.shop_name %></p> <!-- 商品名 -->

           <% end %>

           <!-- 評価 -->
           <p class="index_total">総合：</p>
           <div id="star7-total_rate-<%= cafe_post.id %>"></div> <!-- 評価 -->
          </div>
             <script>
              $('#star7-total_rate-<%= cafe_post.id %>').raty({
                size    : 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'cafe_post[total_rate]',
                readOnly: true,
                half: true,
                score: <%= cafe_post.total_rate %>,
               });
             </script>


              <!-- いいね数とコメント数 -->
              <div class="index_favorite">

               <% if cafe_post.favorited_by?(current_customer) %>
              <%= link_to customers_cafe_post_cafe_favorites_path(cafe_post), method: :delete do %>
              <p class="good2">　<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
              <%= cafe_post.cafe_favorites.count %></p>
            <div class="index_comment">
              <%= link_to " #{cafe_post.cafe_comments.count}", customers_cafe_post_path(cafe_post.id), class:"fa fa-commenting-o" %>
            </div>
              <% end %>
          <% else %>
              <%= link_to customers_cafe_post_cafe_favorites_path(cafe_post), method: :post do %>
              <p class="good2">　<i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= cafe_post.cafe_favorites.count %></p>
            <div class="index_comment">
              <%= link_to " #{cafe_post.cafe_comments.count}", customers_cafe_post_path(cafe_post.id), class:"fa fa-commenting-o" %>
            </div>
              <% end %>
          <% end %>

             </div>

          　　　<!-- いいね数とコメント -->

          </div>
         <% end %>

          <div class="page">
           <%= paginate @cafe_posts %>
          </div>

      </div>
    </div>

  </div>
</div>
