<div class="container">
	<div class="row">
    <%= render 'layouts/sidebar' %>
      <div class="col-10">
    	  <h3>follow Customers</h3>
    	    <div class="row">
    	      <% @customers.each do |customer| %>
              <div class="col-3">
                <%= image_tag customer.profile_image.to_s, size:"150x150" %>
                 <div class="follow_show">
                    <%= link_to customers_product_posts_posts_path(customer_id: customer.id) do %>
           	         <p class="follow_name"><%= customer.name %>さん<br></p>
                    <% end %>
                     <p><i class="fas fa-flag"></i><%= "フォロー数: #{customer.follower.count}" %></p>
                     <p><i class="fa fa-heart"></i><%= "フォロワー数: #{customer.followed.count}" %></p>
                      <% unless customer == current_customer %>
                        <% if current_customer.following?(customer) %>
                          <p><%= link_to 'フォロー外す', unfollow_path(customer.id), method: :DELETE, class: "button red" %>
                        <% else %>
                          <%= link_to 'フォローする', follow_path(customer.id), method: :POST, class: "button" %></p>
                        <% end %>
                      <% end %>
                 </div>
         	    </div>
            <% end %>
          </div>
    </div>
  </div>
</div>

