<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>


		    <div class="col-10 contact_page">


					<%= form_for(@contact, url: { action: :confirm }) do |f| %>

						  <div class="contact_form">

								   <h3 class="title">お問い合わせフォーム <i class="fa fa-envelope-o" aria-hidden="true"></i></h3>

								    <div>
								    	<strong>名前</strong>
								    	<p><%= f.text_field :contact_name, autofocus: true, class: "field" %></p>
								    </div>
								    <div>
								    	<strong>メールアドレス</strong>
								    	<p> <%= f.email_field :contact_email, autofocus: true, autocomplete: "email", class: "field" %></p>
								    </div>
                    <div>
                    	<strong>お問い合わせ内容</strong>
                    	<p><%= f.text_area :contact_content, autofocus: true, class: "field" %></p>
                    </div>

										  <%= f.submit "確認画面へ", class:"button" %>

						　</div>
					<% end %>

		    </div>

  </div>
 </div>