<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>

	   <div class="first_field">
		     <div class="col-10">

						 <h3 class="title">お問い合わせ<i class="fas fa-cat"></i></h3>

						 <%= form_for @contact do |f| %>

						 <%= f.label :名前 %>
						 <%= f.text_field :contact_name, autofocus: true, class: "field" %>

						 <%= f.label :メールアドレス %>
						 <%= f.email_field :contact_email, autofocus: true, autocomplete: "email", class: "field" %>

						 <%= f.label :お問い合わせ内容 %>
						 <%= f.text_area :contact_contect, autofocus: true, class: "filed" %>

						 <%= f.submit "投稿する", class:"button" %>


		      </div>
	   </div>
  </div>
 </div>