<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>


	     <div class="col-10">

	     	   <%= image_tag("favorite2.jpg", size:'400x80') %>
	     	   <p><%= link_to "全#{@product_posts.count}件" %></p>

         <div class="row">

	         	<% @product_posts.each do |product_post| %>

	     	 <div class="col-3">
	     	 	
           <%= link_to customers_product_post_path(product_post.id) do %>
           <%= image_tag product_post.picture.to_s, size:"150x150" %>
       		  <!-- 商品画像 -->
           <div class="index_title">
       		 <p>商品名：<%= product_post.product_name %></p> <!-- 商品名 -->

       		 <% end %>

       		 <!-- 評価 -->
       		 <p class="index_total">総合：</p>
       		 <div id="star3-total_rate-<%= product_post.id %>"></div> <!-- 評価 -->
       		</div>
       		   <script>
       		   	$('#star3-total_rate-<%= product_post.id %>').raty({
		           	size    : 36,
		            starOff: '<%= asset_path('star-off.png') %>',
		            starOn : '<%= asset_path('star-on.png') %>',
		            starHalf: '<%= asset_path('star-half.png') %>',
		            scoreName: 'product_post[total_rate]',
		            readOnly: true,
		            half: true,
		            score: <%= product_post.total_rate %>,
               });
       		   </script>

          </div>
       	 <% end %>
        
           <div class="page">
       	   <%= paginate @product_posts %>
          </div>


	     	 </div>

	     </div>
	  </div>
  </div>
</div>
