<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>

	  <div class="col-xs-10">

	  	<h2 class="title">猫グッズ詳細<i class="fas fa-cat"></i></h2>
         <%= link_to @product_post_path do %>
         <% end %>

        <p class="product_image">
        	 <%= attachment_image_tag @product_post, :picture, format:'jpeg', size:"250x250" %>
        </p>

        <div class="product_form">
	         <p class="product_name">商品名：<%= @product_post.product_name %></p>
	         <p class="product_price">価格：<%= @product_post.price %>円</p>
        </div>


        <!-- 評価 -->
        <div class="product_post_rate">
        	 <p class="show_title">価格：</p>
        	 <div id="star1-price_rate-<%= @product_post.id %>"></div><br>

           <p class="show_title">お気に入り：</p>
           <div id="star2-favorite_rate-<%= @product_post.id %>"></div><br>

           <p class="show_title">総合：</p>
           <div id="star3-total_rate-<%= @product_post.id %>"></div><br>

           <p class="show_title">説明：</p>
           <%= @product_post.description %><br>

           <br><p><%= link_to "編集する", edit_customers_product_post_path(@product_post), class:"button" %></p>
           <p><%= link_to "削除する", @product_post_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "button destroy_product_post_#{@product_post.id}" %></p>

        	 <script>
           $('#star1-price_rate-<%= @product_post.id %>').raty({
           	size    : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'product_post[price_rate]',
            readOnly: true,
            half: true,
            score: <%= @product_post.price_rate %>,
           });

           $('#star2-favorite_rate-<%= @product_post.id %>').raty({
           	size    : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'product_post[favorite_rate]',
            readOnly: true,
            half: true,
            score: <%= @product_post.price_rate %>,
           });

           $('#star3-total_rate-<%= @product_post.id %>').raty({
           	size    : 36,
            starOff: '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'product_post[total_rate]',
            readOnly: true,
            half: true,
            score: <%= @product_post.price_rate %>,
           });
        	 </script>




        </div>





	  </div>
	</div>
</div>