<header class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="row fixed-top">
      <div class="col">
       <nav>
        <div class="inner flex">
          <div class="logo">
            <%= link_to image_tag("miaou_5.jpg", size:'260x73'), "/" %>
          </div>
       <!-- </nav> -->
       <!-- <nav> -->
        <div class="menu">
            <!-- ログインしている・しないない時のif文を加える -->
          <ul class="flex">
            <% if customer_signed_in? %>
                <li><%= link_to "Home", "/", class:"fas fa-home" %></li>
                <li><%= link_to "About", customers_home_about_path, class:"fas fa-cat" %></li>
                <li><%= link_to "猫グッズ", customers_product_posts_path, class:"fas fa-paw" %></li>
                <li><%= link_to "猫カフェ", customers_cafe_posts_path, class:"fas fa-paw" %></li> 
                <li><%= link_to "logout", "/customers/sign_out", method: :delete, class:"fas fa-sign-out-alt" %></li>
            <% else %>
                <li><%= link_to "Home", "/", class:"fas fa-home" %></li>
                <li><%= link_to "About", "/home/about", class:"fas fa-cat" %></li>
                <li><%= link_to "sign up", "/customers/sign_up", class:"fas fa-user-plus" %></li>
                <li><%= link_to "login", "/customers/sign_in", class:"fas fa-sign-in-alt" %></li>
            <% end %>


         </ul>
        </div>
        </div>
       </nav>
     </div>
    </div>
  </div>
 </header>