<!DOCTYPE html>
<html>
  <head>
    <title>MiaouMiaou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <body>
   <div id="wrapper">

        <%= render 'layouts/header' %>

    <div class="main">
        <%= yield %>
    </div>

    <footer>
        <p class="text-muted"> ©︎2020 Miaou!Miaou! </p>
    </footer>

   </div>
   <div id="page_top"><%= image_tag("pagetop2.png", size:'170x250') %></div>
  </body>
</html>
